<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cannabi-Doctor</title>
    <link rel="stylesheet" href="../css/styles-questions.css" />
    <link rel="stylesheet" href="../css/fonst/poppins.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="src/img/logo-canabis (1).webp"
          alt="logo"
          height="60px"
          width="60px"
          loading="lazy"
        />
        <div class="text">
          <h1>Cannabi Doctor</h1>
          <h4>alivio con responsabilidad</h4>
        </div>
      </div>
      <nav class="links">
        <ul>
          <li><a href="#">Beneficios</a></li>
          <li><a href="#">Beneficios</a></li>
          <li><a href="#">Beneficios</a></li>
          <li><a href="#">Beneficios</a></li>
        </ul>
      </nav>
      <div class="container-btn-nav">
        <div class="button_slide slide_right">INICIAR SECCION</div>
      </div>
    </header>

    <main>
      <section id="faq" class="questions-section">
        <div class="hero">
          <div class="hero-text">
            <h1>Preguntas sobre cannabis y dolor crónico</h1>
            <p>
              Encuentra respuestas claras y basadas en evidencia sobre cómo el
              cannabis puede apoyar el manejo del dolor crónico. Explora las
              preguntas frecuentes o envía la tuya.
            </p>

            <div class="tags">
              <span class="tag">🌙 Alivio</span>
              <span class="tag">➕ Seguridad</span>
              <span class="tag">✔ Evidencia</span>
            </div>
          </div>
          <div class="hero-card">
          
           
          </div>
        </div>

        <div class="questions-container">
          <details class="questions-item">
            <summary>1. ¿Qué es la medicina cannábica?</summary>
            <p>
              La medicina cannábica es el uso de los componentes de la planta de
              cannabis (como el CBD y el THC) para el tratamiento de diversas
              enfermedades y síntomas bajo supervisión médica.
            </p>
          </details>

          <details class="questions-item">
            <summary>
              2. ¿Necesito receta médica para acceder a los tratamientos?
            </summary>
            <p>
              Sí. En Colombia, el uso de cannabis medicinal debe estar formulado
              por un médico autorizado. Nuestro equipo se encarga de guiarte en
              el proceso y generar la prescripción adecuada.
            </p>
          </details>

          <details class="questions-item">
            <summary>3. ¿Qué condiciones de salud se pueden tratar?</summary>
            <p>
              El cannabis medicinal se usa como apoyo en casos de dolor crónico,
              insomnio, ansiedad, epilepsia, enfermedades neurodegenerativas,
              cáncer y efectos secundarios de la quimioterapia.
            </p>
          </details>

          <details class="questions-item">
            <summary>4. ¿El cannabis medicinal produce adicción?</summary>
            <p>
              No. Los tratamientos médicos con cannabis se formulan en dosis
              controladas y no generan adicción cuando se usan de manera
              adecuada.
            </p>
          </details>

          <details class="questions-item">
            <summary>5. ¿Es legal el cannabis medicinal en Colombia?</summary>
            <p>
              Sí. El uso medicinal del cannabis está regulado y es completamente
              legal en Colombia bajo la Ley 1787 de 2016.
            </p>
          </details>
        </div>
      </section>
    </main>
  </body>
</html>
