<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cannabi-Doctor</title>
    <link rel="stylesheet" href="../css/styles-questions.css" />
    <link rel="stylesheet" href="../css/fonst/poppins.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="src/img/logo-canabis (1).webp"
          alt="logo"
          height="60px"
          width="60px"
          loading="lazy"
        />
        <div class="text">
          <h1>Cannabi Doctor</h1>
          <h4>alivio con responsabilidad</h4>
        </div>
      </div>
      <nav class="links">
        <ul>
          <li><a href="#">Beneficios</a></li>
          <li><a href="#">Beneficios</a></li>
          <li><a href="#">Beneficios</a></li>
          <li><a href="#">Beneficios</a></li>
        </ul>
      </nav>
      <div class="container-btn-nav">
        <div class="button_slide slide_right">INICIAR SECCION</div>
      </div>
    </header>

    <main>
      <section id="faq" class="questions-section">
        <div class="hero">
          <div class="hero-text">
            <h1>Preguntas sobre cannabis y dolor crónico</h1>
            <p>
              Encuentra respuestas claras y basadas en evidencia sobre cómo el
              cannabis puede apoyar el manejo del dolor crónico. Explora las
              preguntas frecuentes o envía la tuya.
            </p>

            <div class="tags">
              <span class="tag">🌙 Alivio</span>
              <span class="tag">➕ Seguridad</span>
              <span class="tag">✔ Evidencia</span>
            </div>
          </div>
          <div class="hero-card">
            <img src="../img/question-face.webp" alt="img-question-face" />
          </div>
        </div>

        <div class="questions-container">
          <details class="questions-item">
            <summary>1. ¿Qué es la medicina cannábica?</summary>
            <p>
              La medicina cannábica es el uso de los componentes de la planta de
              cannabis (como el CBD y el THC) para el tratamiento de diversas
              enfermedades y síntomas bajo supervisión médica.
            </p>
          </details>

          <details class="questions-item">
            <summary>
              2. ¿Necesito receta médica para acceder a los tratamientos?
            </summary>
            <p>
              Sí. En Colombia, el uso de cannabis medicinal debe estar formulado
              por un médico autorizado. Nuestro equipo se encarga de guiarte en
              el proceso y generar la prescripción adecuada.
            </p>
          </details>

          <details class="questions-item">
            <summary>3. ¿Qué condiciones de salud se pueden tratar?</summary>
            <p>
              El cannabis medicinal se usa como apoyo en casos de dolor crónico,
              insomnio, ansiedad, epilepsia, enfermedades neurodegenerativas,
              cáncer y efectos secundarios de la quimioterapia.
            </p>
          </details>

          <details class="questions-item">
            <summary>4. ¿El cannabis medicinal produce adicción?</summary>
            <p>
              No. Los tratamientos médicos con cannabis se formulan en dosis
              controladas y no generan adicción cuando se usan de manera
              adecuada.
            </p>
          </details>

          <details class="questions-item">
            <summary>5. ¿Es legal el cannabis medicinal en Colombia?</summary>
            <p>
              Sí. El uso medicinal del cannabis está regulado y es completamente
              legal en Colombia bajo la Ley 1787 de 2016.
            </p>
          </details>
          <details class="questions-item">
            <summary>6. ¿Cómo determino la dosis adecuada?</summary>
            <p>
              En Cannabi Doctor recomendamos siempre iniciar con dosis bajas e
              ir aumentando de forma gradual hasta encontrar el efecto
              terapéutico deseado. Además, cada tratamiento debe estar
              acompañado por un profesional de la salud que oriente el tipo de
              producto, concentración de cannabinoides (THC, CBD) y la vía de
              administración más adecuada para cada paciente.
            </p>
          </details>

          <details class="questions-item">
            <summary>7 ¿Qué efectos secundarios debo conocer?</summary>
            <p>
              El cannabis medicinal, al igual que cualquier tratamiento, puede
              generar algunos efectos secundarios. Los más comunes suelen ser: •
              Sequedad en la boca. • Somnolencia o cansancio. • Mareo o
              sensación de ligera desorientación. • Aumento del apetito. En
              dosis más altas, algunas personas pueden experimentar ansiedad,
              cambios en la presión arterial o alteraciones en la memoria a
              corto plazo. En Cannabi Doctor recomendamos siempre usar los
              productos bajo supervisión médica para minimizar riesgos y ajustar
              la dosis de manera segura según las necesidades de cada paciente.
            </p>
          </details>

          <details class="questions-item">
            <summary>
              8. ¿Puede interactuar el cannabis medicinal con mis medicamentos?
            </summary>
            <p>
              Sí, el cannabis medicinal puede interactuar con algunos
              medicamentos. Los cannabinoides (como el THC y el CBD) se
              metabolizan en el hígado y pueden alterar la forma en que otros
              fármacos actúan en el organismo. Por ejemplo, puede potenciar el
              efecto de medicamentos sedantes o interferir con anticoagulantes y
              ciertos fármacos para la presión arterial. Por eso, en Cannabi
              Doctor siempre realizamos una valoración médica antes de iniciar
              el tratamiento, para ajustar dosis y asegurar que el cannabis se
              use de manera segura junto con la medicación actual del paciente.
            </p>
          </details>

          <details class="questions-item">
            <summary>
              9. ¿Qué método de consumo es mejor para el dolor crónico?
            </summary>
            <p>
              El mejor método depende de las necesidades y características de
              cada paciente. En el caso del dolor crónico, los métodos más
              recomendados suelen ser: 
              
              • Aceites o tinturas sublinguales:
              permiten un control preciso de la dosis, tienen un inicio de
              efecto relativamente rápido y una duración prolongada. • Cápsulas
              o comestibles: útiles para mantener un alivio constante durante
              varias horas, aunque tardan más en hacer efecto. • Vaporización
              (no fumar): puede ser útil en casos donde se requiere un alivio
              inmediato, pero su efecto dura menos tiempo.
            </p>
          </details>

        </di>
        
        
        <div class="send-questions">
            <h1>Haz tu pregunta</h1>
        </div>

        <div class="form-questions">
          <label for="name">Nombre</label>
          <input type="name" placeholder="Tu Nombre">
          <label for="email">Email</label>
          <input type="email" placeholder="Tucorreo@ejemplo">
          <label for="temas">Temas</label>
          <select name="" id="">
          <option value="">Eficacia</option>
          <option value="">Dosis</option>
          <option value="">Seguridad</option>
          <option value="">Legal</option>
          <label for="question">Pregunta</label>
          <textarea name="question" id=""></textarea>
         </select>
          

        </div>
      


      </section>

     
    </main>
  </body>
</html>
